In [12]:
#import relevant libraries
import requests
from config import api_key
import json
import pandas as pd

In [8]:
#Gather data from API
url = 'https://api.census.gov/data/2017/abscs?get=GEO_ID,NAME,NAICS2017,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,EMPSZFI,EMPSZFI_LABEL,YEAR,FIRMPDEMP,FIRMPDEMP_F,RCPPDEMP,RCPPDEMP_F,EMP,EMP_F,PAYANN,PAYANN_F,FIRMPDEMP_S,FIRMPDEMP_S_F,RCPPDEMP_S,RCPPDEMP_S_F,EMP_S,EMP_S_F,PAYANN_S,PAYANN_S_F&for=us:*&key={}'.format(api_key)

response = requests.get(url)

In [19]:
#Create the dataframe from the data
df = pd.DataFrame(response.json())

In [20]:
#Create appropriate labels for header

#grab the first row for the header
new_header = df.iloc[0]

#take the data other than the header row
df = df[1:]

#set the header row as the df header
df.columns = new_header

In [21]:
df.head()

,GEO_ID,NAME,NAICS2017,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,...,PAYANN_F,FIRMPDEMP_S,FIRMPDEMP_S_F,RCPPDEMP_S,RCPPDEMP_S_F,EMP_S,EMP_S_F,PAYANN_S,PAYANN_S_F,us
1,0100000US,United States,00,Total for all sectors,004,Equally male/female,001,Total,00,Total,...,None,0.3,None,1.3,None,1.6,None,1.3,None,1
2,0100000US,United States,00,Total for all sectors,004,Equally male/female,001,Total,00,Total,...,None,0.6,None,3.7,None,0.0,None,3.1,None,1
3,0100000US,United States,00,Total for all sectors,004,Equally male/female,001,Total,00,Total,...,None,0.7,None,1.1,None,0.7,None,0.7,None,1
4,0100000US,United States,00,Total for all sectors,004,Equally male/female,001,Total,00,Total,...,None,1.2,None,2.6,None,1.2,None,1.7,None,1
5,0100000US,United States,00,Total for all sectors,004,Equally male/female,001,Total,00,Total,...,None,1.4,None,2.8,None,1.3,None,1.9,None,1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72327 entries, 0 to 72326
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       72327 non-null  object
 1   1       72327 non-null  object
 2   2       72327 non-null  object
 3   3       72327 non-null  object
 4   4       72327 non-null  object
 5   5       72327 non-null  object
 6   6       72327 non-null  object
 7   7       72327 non-null  object
 8   8       72327 non-null  object
 9   9       72327 non-null  object
 10  10      72327 non-null  object
 11  11      72327 non-null  object
 12  12      72327 non-null  object
 13  13      72327 non-null  object
 14  14      72327 non-null  object
 15  15      72327 non-null  object
 16  16      17589 non-null  object
 17  17      72327 non-null  object
 18  18      17589 non-null  object
 19  19      72327 non-null  object
 20  20      17589 non-null  object
 21  21      72327 non-null  object
 22  22      17589 non-null  object
 23  23      72327 non-null  object
 24  24      17589 non-null  object
 25  25      72327 non-null  object
 26  26      17589 non-null  object
 27  27      72327 non-null  object
 28  28      17589 non-null  object
 29  29      72327 non-null  object
 30  30      17589 non-null  object
 31  31      72327 non-null  object
dtypes: object(32)
memory usage: 17.7+ MB

In [26]:
#Unique values for ethnicity
df['ETH_GROUP_LABEL'].unique()

array(['Total', 'Hispanic', 'Mexican, Mexican American, Chicano',
       'Puerto Rican', 'Cuban', 'Equally Hispanic/non-Hispanic',
       'Other Hispanic, Latino, or Spanish', 'Non-Hispanic',
       'Classifiable', 'Unclassifiable'], dtype=object)

In [27]:
#unique values for race
df['RACE_GROUP_LABEL'].unique()

array(['Total', 'White', 'Black or African American',
       'American Indian and Alaska Native', 'Asian', 'Asian Indian',
       'Filipino', 'Japanese', 'Chinese', 'Vietnamese', 'Other Asian',
       'Korean', 'Minority', 'Equally minority/nonminority',
       'Classifiable', 'Unclassifiable',
       'Native Hawaiian and Other Pacific Islander', 'Nonminority',
       'Native Hawaiian', 'Guamanian or Chamorro', 'Samoan',
       'Other Pacific Islander'], dtype=object)